<h1>Create a new Post:</h1>

<%= render 'shared/error_messages' %>

<%= form_for @post do |f| %>
<p>
  <%= f.label :title %>
  <%= f.text_field :title %>
</p>
<p>
  <%= f.label :text %>
  <%= f.text_area :text %>
</p>
  <%= f.submit "Create post" %>
<% end %>